body {
  background-color: #f5f6fa;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

.search{
    margin: 15px auto;
}

.profile {
  display: flex;
  justify-content: space-around;
  padding-right: 10%;
}

.image-container img {
  width: 200px;
  border: 5px solid white;
  border-radius: 50%;
  object-fit: cover; /* Ensure the image covers the entire circle */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.url{
    margin: none;
    margin-left: 18px;
}

.repos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.repository {
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
}
.repository button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #7f8ff4;
  color: aliceblue;
  font-weight: 800;
  border: none;
}

/* Form Button */
.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.btn--primary {
  background: #7f8ff4;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 2px;
  padding: 12px 36px;
}


.btn--primary:active {
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}

.btn--inside {
  margin-left: -96px;
}

/* form */
#search-box {
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}

/* Pagination */
.page-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/* --------------------- */
.page-containers > * {
  display: none;
}

.page-containers.show-children > * {
  display: flex;
}
.page-shift-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.page-shift-container li {
  display: block;
  border: 1px solid #ccc;
  padding: 1px 5px;
  cursor: pointer;
  /* margin: 0 5px;  */
}
#prev,
#next {
    border: 1px solid #ccc;
    padding: 5px 10px;
    /* margin: 0 5px;  */
}